<% if user_signed_in? %>
</br>
  <% if can? :manage, Project %>
<h3><%= link_to 'Create project', new_project_path(@project), class: 'btn btn-primary' %></h3>
<% end %>
<div class="container">
  <h2> All projects: </h2>
  <div class="center">
    <%= text_field_tag 'search-field', "", class: "search-field",
                      placeholder: 'Input project name..'
  %>
  </div>
  <ul>
    <% @projects.each do |project| %>
      <li class="projectblock">
      	<div class="title">
          <p> Project name:<%=link_to project.name, project %> </p>
        </div>
        <p>Description:
        <%= project.summary.truncate(20) %></p>
      <% if can? :manage, Project %>  
        <%= link_to 'delete project', project_path(project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
      <% end %>  
      </li>
    <% end %>
  </ul>	
</div>
<%= javascript_include_tag 'views/projects/filter.js' %>

<% end %>
